.body{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    width: 500px;
}


#todoItem ,#date{
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}


.btn-add{
    background-color: rgb(2, 188, 2);
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    margin: 5px;
    height: 50px;
    width: 80px;
    cursor: pointer;
    
}



.btn-delete{
    background-color: rgb(188, 5, 2);
    color: #FFF;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    margin: 5px;
    height: 50px;
    width: 80px;
    cursor: pointer;
}

.main{
    display: grid;
    grid-template-columns: 200px 180px 80px;
    align-items: center;
    text-align: center;
}
